@media only screen and (min-width:1024px) {
    header {
        display: grid;
        grid-template-columns: auto 1fr;
        padding-inline: 1em;

    }

    .header-content {
        display: block;
    }

    .header-content img {
        width: 220px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        width: auto;
        display: block;
        padding-top: 2.5em;
        position: initial;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        font-size: larger;
        margin-left: 10rem;
    }

    .navigation li:not(.current) a:hover {
        color: var(--gunmetal);
        transition: 0.2s;
        border-radius: 10px;
        background-color: var(--ash-gray);
    }

    .navigation li {
        padding-inline: 10px;
        border-radius: 10px;
    }



    .navigation a {
        border: none;
    }

    .hero,
    .hero-menu,
    .hero-contact {
        min-height: 100vh;
        text-align: left;
    }

    .hero-menu {
        min-height: 75vh;
    }

    .action-card {
        display: none;
    }

    .card-indications p::before {
        content: "🠋 Click on ";

    }

    .hero-contact {
        min-height: 70vh;
    }


    .featured {
        display: grid;
    }

    .featured figure {
        display: flex;
        flex-direction: row;
    }

    /*menu*/

    /*contact*/
    /*--------------WARNING---------*/
    /*I SHOULDN'T TOUCH THIS ANYMORE OR ELSE IT'LL BREAK SO BAD*/
    .contact-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0px;
        border-bottom: solid var(--orange) 20px;
    }

    .contact-container {
        flex: 1;
    }

    .form-fields .form-field {
        text-align: left;
    }

    #service-extra-info {
        flex: 1;
        max-width: 100%;
        padding: 2em;
        text-align: center;
        display: flex;
        flex-direction: column;
    }


    .locations-info {
        display: grid;
        flex-direction: column;
    }

    .delivery-options {
        flex-direction: column;
    }

    #service-extra-info {
        padding: 0;
    }

    .reservation-content,
    .delivery-options {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    #service-extra-info .delivery-options img {
        text-align: center;
        display: block;
        width: 98%;
        height: 160px;
        object-fit: cover;
        margin-block: 1.2em;
    }

    .reservation-content h2 {
        font-size: xx-large;
    }

    .reservation-hero {
        padding: 0;
    }

    #service-extra-info .reservation-hero {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 3rem;
    }

    #service-extra-info .reservation-hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.55);
    }

    /*--*/
    /**/
    footer {
        display: grid;
        text-align: left;
        padding-inline: 3em;
        grid-template-areas:
            "a b c d"
            "e e e e";
    }

    .footer-bottom {
        grid-area: e;
        text-align: center;
    }
}