.header-bar {
    background-color: #ffffff;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 5px 10px;
    border-bottom: solid 2px #C9CACC;
    align-items: center;
    column-gap: 10px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #212121;
}

/*hamburger*/
.hamburger {
    background: none;
    border: none;
    color: #FFC100;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*navigation*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: #212121;
    text-decoration: none;
    border-bottom: solid 1px #E5EDF9;
}

.navigation li.current {
    background: #D9D9D9;
}

.navigation a:hover {
    color: #FC8202;
    background-color: #f5f5f5;
}

/*body*/
body {

    font-family: "ABeeZee", sans-serif;
    background-color: #E5EDF9;
}

.title h1,
.title h2 {
    color: #212121;
    text-align: center;
    background-color: #FFC100;
    padding: 1.5em;
    margin: 0 0 0.5em;
}

.title h2,
.form h2,
.thx-container h2 {
    font-size: xx-large;
}

.hero {
    /*hero txt*/
    text-align: center;
    display: block;
    padding: 1em 4em 3em 4em;
    color: #ffffff;
    font-size: 15px;
    border-image: linear-gradient(#2525259c, #00000000) fill 1;

    /*hero bg*/
    background-image: url("../images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}


.hero a.btn {
    display: block;
    margin-top: 1.5em;
    background-color: #93DA24;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    color: #212121;
    font-weight: bold;
}

/*events & weather*/
.weather>div {
    display: flex;
    align-items: center;
}

#weather-icon {
    width: 50%;
    height: 50%;
}

.cards ul {
    list-style-type: none;
    padding-left: 0;
    padding-inline: 10px;
}

.events ul {
    margin-top: 0;
}

.cards li,
.membercards li {
    padding-block: 10px;
}

.events,
.forecast {
    text-align: center;
}

.events h2 {
    background-color: #93DA24;
}

.weather h2,
.np h2 {
    background-color: #66AAF0;
}

.forecast h2 {
    background-color: #FFC100;
}

/*spotlight*/
.spotlight-content {
    display: flex;
}

.cards {
    display: block;
    justify-items: center;
    margin-top: 0.5em;
    padding: 2em;

}

.cards section,
article {
    width: 100%;
    margin-block: 1em;
}



.cards h2,
.membercards h2,
.spotlight h3 {
    text-align: center;
    padding: 1em;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.spotlight h3 {
    background-color: #93DA24;
}

.spotlight {
    gap: 1em;
    margin-inline: 2em;
}

.events ul,
.weather>div,
.forecast>div,
.spotlight-content,
.memberinfo {
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 300px;
}

.memberinfo {
    height: auto;
}

/*horizontal alignment for imgand text*/
article img {
    width: 125px;
    height: 125px;
    margin: 10px 25px 10px 10px;
}

/*JOIN*/
.join-container {
    display: block;
    justify-content: stretch;
    margin-inline: 2em;
    column-gap: 2em;
}

.form,
.thx-container {
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #0000001b;
    margin-top: 1.3em;
    text-align: center;
    /*anim*/
    opacity: 0;
    transform: translateX(-20px);
    animation: blockFadeRight 0.9s ease forwards;
}

.memberinfo,
dialog {
    box-shadow: 10px 10px 10px #0000001b;
}

.form h2 {
    color: #0B0712
}

.form p {
    font-size: 17px;
    color: #524D56;
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

input,
textarea,
select {
    padding: 15px 10px 15px;
    border-radius: 5px;
    border: solid #C9CACC 2px;

}


/*cards*/
.membercards {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.bronze h2 {
    background: linear-gradient(90deg, #ff8b10, #ce4f00);
    color: #4a2600;
}

.silver h2 {
    background: linear-gradient(270deg, #bebebe, #cccccc, #b6b6b6);
}

.gold h2 {
    background: linear-gradient(270deg, #FC8202, #ffe945, #FFC100);
    color: #542c01
}

/*cards dialog*/
dialog {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 450px;
    /*anim*/
    opacity: 0;
    transform: translateY(20px);
    animation: blockFadeUp 0.9s ease forwards;
}

.join-container button,
.memberinfo button {
    border: none;
    color: #000000;
    text-decoration: none;
    padding: 20px 100px;
    border-radius: 10px;
    font-weight: bold;
}

.bronze button {
    background-color: #ff9500;
}

.silver button {
    background-color: #a9a9a9;
}

.gold button {
    background: linear-gradient(270deg, #FFC100, #ffde39, #ffae00);
}

.form button {
    background-color: #93DA24;
    font-size: x-large;
}

button:hover {
    cursor: pointer;
}

.form button:hover,
dialog button:hover {
    cursor: pointer;
    background-color: #afff2e;
}

/*animations*/

.membercards section {
    opacity: 0;
    transform: translateX(20px);
    animation: cardFadeLeft 0.8s ease forwards;
}

.membercards section:nth-child(1) {
    animation-delay: 0.1s;
}

.membercards section:nth-child(2) {
    animation-delay: 0.4s;
}

.membercards section:nth-child(3) {
    animation-delay: 0.7s;
}

.membercards section:nth-child(4) {
    animation-delay: 1s;
}

@keyframes blockFadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blockFadeRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cardFadeLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*THX*/
.title p {
    margin-top: 2em;
    margin-left: 2em;
}

.thx-container {
    margin-inline: 2em;
    margin-bottom: 2em;
}



/*DIRECTORY*/
.view-controls {
    text-align: center;
}

.view-controls img {
    width: 40px;
}

.view-controls button {
    background-color: #93DA24;
    padding: 10px 30px;
    border-radius: 10px;
    margin-inline: 1em;
    border: none;
}

.view-controls button:hover,
.hero .btn:hover {
    cursor: pointer;
    background-color: #ffffff;
}


/* GRID VIEW */

#members.grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1em;
}

#members.grid section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5em;
    display: block;
}

#members.grid section .member-name {
    display: none;
}

/* LIST VIEW */
#members.list section {
    display: flex;
    flex-direction: column;

}

.list {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}


#members.list section img {
    display: none;
}

#members.list section>* {
    margin: 0.3em 1rem;
}

#members.list section:nth-child(odd) {
    background-color: #ffffff;
}


/* footer */
footer {
    background-color: #ffffff;
    padding: 1rem 10px;
    border-top: solid 2px #C9CACC;
    text-align: center;
    font-weight: lighter;
}

#lastModified {
    color: #252624;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;

}

.social a {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: #f5f5f5 solid 1px;
}

.social img {
    width: 30px;
    height: 30px;
}