.header-bar {
    background-color: #ffffff;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 5px 10px;
    border-bottom: solid 2px #C9CACC;
    align-items: center;
    column-gap: 10px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #212121;
}

/*hamburger*/
.hamburger {
    background: none;
    border: none;
    color: #FFC100;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*navigation*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: #212121;
    text-decoration: none;
    border-bottom: solid 1px #E5EDF9;
}

.navigation li.current {
    background: #D9D9D9;
}

.navigation a:hover {
    color: #FC8202;
    background-color: #f5f5f5;
}


/*body*/
body {

    font-family: "ABeeZee", sans-serif;
    background-color: #E5EDF9;
}

.title h1 {
    color: #212121;
    text-align: center;
    background-color: #FFC100;
    padding: 1.5em;
    margin: 0 0 0.5em;
}

.hero {
    /*hero txt*/
    text-align: center;
    display: block;
    padding: 1em 4em 3em 4em;
    color: #ffffff;
    font-size: 15px;
    border-image: linear-gradient(#2525259c, #00000000) fill 1;

    /*hero bg*/
    background-image: url("../images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}


.hero a.btn {
    display: block;
    margin-top: 1.5em;
    background-color: #93DA24;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #212121;
    font-weight: bold;
}

.spotlight {
    display: block;
    justify-items: center;
}

.spotlight h3 {
    text-align: center;
}

.spotlight article {
    background-color: #ffffff;
    padding: 1em 2.5em;
}

.spotlight-content {
    display: flex;
}

.cards {
    display: block;
    justify-items: center;
    margin-top: 0.5em;
    padding: 2em;
}

.cards section {
    background-color: #ffffff;
    width: 100%;
    padding: .5em .2em;
    margin-block: 1em;
}

.cards h2 {
    text-align: center;
}

/**/
.view-controls {
    text-align: center;
}

.view-controls img {
    width: 40px;
}

.view-controls button {
    background-color: #93DA24;
    padding: 10px 30px;
    border-radius: 10px;
    margin-inline: 1em;
    border: none;
}

.view-controls button:hover,
.hero .btn:hover {
    cursor: pointer;
    background-color: #ffffff;
}


/* GRID VIEW */

#members.grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1em;
}

#members.grid section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5em;
    display: block;
}

#members.grid section .member-name {
    display: none;
}

/* LIST VIEW */
#members.list section {
    display: flex;
    flex-direction: column;

}

.list {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}


#members.list section img {
    display: none;
}

#members.list section>* {
    margin: 0.3em 1rem;
}

#members.list section:nth-child(odd) {
    background-color: #ffffff;
}


/* footer */
footer {
    background-color: #ffffff;
    padding: 1rem 10px;
    border-top: solid 2px #C9CACC;
    text-align: center;
    font-weight: lighter;
}

#lastModified {
    color: #252624;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;

}

.social a {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: #f5f5f5 solid 1px;
}

.social img {
    width: 30px;
    height: 30px;
}