@media only screen and (min-width:700px) {


    .header-bar {
        display: flex;
        align-items: Center;
        justify-content: space-between;
        border-bottom: solid 1px #C9CACC;
    }

    header {
        grid-template-columns: 5% auto;
        margin: 0 auto;
        border: none;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        padding-top: 0.1em;
        display: block;

    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /*body*/

    .title h1,
    .hero {
        text-align: left;
    }

    /*HOME*/
    .hero {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 400px;
        font-size: 20px;
        /*overlay*/
        border-image: linear-gradient(90deg, #2525259c, #00000000) fill 1;
    }

    .hero h1 {
        font-size: 50px;
    }

    .spotlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.2em;
    }

    /*DIRECTORY*/
    #members.grid {
        grid-template-columns: repeat(3, 1fr);

    }

    #members.list {
        display: flex;
        flex-direction: column;
    }

    #members.list section {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 2fr;

        align-items: center;
        padding: 0.5rem;
    }


    #members.list section .member-name {
        font-size: 1rem;
        font-weight: bold;
    }

    /*footer*/
    footer {
        display: flex;
        justify-content: space-around;

    }

    footer .address {
        text-align: left;
    }

    footer .page-info {
        text-align: right;
    }

}