@media only screen and (min-width:700px) {
    header {
        grid-template-columns: 24px auto;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #C9CACC;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /*body*/

    h1 {
        text-align: left;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
    }

    .description p {
        font-size: 23px;
        padding-bottom: 4.3em;
    }

    .photo img {

        object-fit: cover;
    }

    .certificates {
        margin-top: 2rem;
    }

    .filters {
        padding: 1em 2em;
        display: grid;

        column-gap: 2.5em;
    }

    #courses {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 0.75rem;
    }
}