* {
    font-family: "ABeeZee", sans-serif;

}


header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 5px 10px;
    border-bottom: solid 1px #C9CACC;
    align-items: center;
    column-gap: 10px;
    background-color: #f5f5f5;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #13436B;
}


/*body*/
h1 {
    margin: 1rem 10px;
    text-align: center;
}

h2 {
    text-align: center;
    background-color: #13436B;
    padding: 0.6em;
    color: #fff;
    margin: 0
}


footer {
    background-color: #13436B;
    padding: 1rem 10px;
    text-align: center;
    color: #f5f5f5;
    font-weight: lighter;
}